@media (max-width: 1400px) {
	body {
		zoom: 75%;
		-moz-transform: scale(.75);
	}
}

@media (max-width: 1020px) {
	body {
		zoom: 50%;
		-moz-transform: scale(.50);
	}
}

html, body
{
	xbackground-color:#254266;
	background-color:#3F6FAB;
}

.mainTitle
{
	margin:0 auto;
	width:1252px;
	text-align: center;
	vertical-align: middle;
	margin-bottom:	50px;
	margin-top:50px;
	xcolor:rgb(112, 141, 179);
	color:hsl(0,100%,100%);
	font-size:39px;
	font-weight: bold;
	font-family: 'Roboto', sans-serif;
	font-weight: 100;
}

.sublimeWindowContainer
{
	position:relative;
	margin:0 auto;
	width:1252px;
	height:771px;
	z-index:40;
}

.sublimeWindow
{
	position:absolute;
	width:inherit;
	height:inherit;
	margin:0 auto;
	background-color:hsl(0, 0%, 40%);
	xborder-radius:4px;
	-moz-box-shadow: 0px 0px 57px 2px hsl(213, 46%, 30%);
	box-shadow: 0px 0px 57px 2px hsl(213, 46%, 30%);
	z-index:45;
	-webkit-transition: background-color .3s linear;
	-moz-transition: background-color .3s linear;
	transition: background-color .3s linear;
}

.sublimeWindowOverlay
{
	position:absolute;
	width:inherit;
	height:inherit;
	margin:0 auto;
	background-color:hsl(221, 100%, 33%);
	background-color: hsl(0, 0%, 13%);
	xborder-radius:4px;
	xopacity:.3;
	z-index:46;
	-webkit-transition: background-color .3s linear;
	-moz-transition: background-color .3s linear;
	transition: background-color .3s linear;
}

.tabstrip
{
	position:absolute;
	opacity:1;
	z-index:46;
	top: 0px;
	-webkit-transition: background-color .3s linear;
	-moz-transition: background-color .3s linear;
	transition: background-color .3s linear;
}

.tabselected
{
	position:absolute;
	left:289px;
	top: 0px;
	z-index:60;
}

.windowcontrol
{
	position:absolute;
	top:4px;
	right:-5px;
	opacity: .8;
	z-index:60;
}

.contentFrame
{
	top:37px;
	position:absolute;
	background-color:#262721;
	width: 100%;
	height:734px;
	z-index: 61;	
	xborder-bottom-right-radius:4px;
	xborder-bottom-left-radius:4px;
}

.contentArea
{
	margin:8px 0px 0px;
	position:absolute;
	background-color: hsl(0, 0%, 40%);
	width: 182px;
	height:726px;
	z-index: 62;
	-webkit-transition: background-color .3s linear;
	-moz-transition: background-color .3s linear;
	transition: background-color .3s linear;
	xborder-bottom-left-radius: 4px;
}

.code
{
	-webkit-transition: background-position .1s linear;
	-moz-transition: background-position .1s linear;
	transition: background-position .1s linear;
	position:absolute;
	background-image: url('code.png');
	height:726px;
	width:1234px;
	z-index: 63;
	xborder-bottom-left-radius: 4px;

	background-image: url('code.png');
	background-repeat: no-repeat;
	background-position:-183px 0px;
}

.code_sidebar
{
	background-position:0px 0px;
}

.scrollThumb
{
	background-color: #393939;
	width:15px;
	height:90px;
	xborder-radius: 2px;
	position:absolute;
	z-index: 64;
	right:9px;
	top:39px;
	/*opacity:.5;*/
	-webkit-transition: background-position .1s linear;
	-moz-transition: -moz-box-shadow .1s linear;
	transition: -moz-box-shadow .1s linear;
}

.scrollThumb:hover
{
	-webkit-box-shadow: 0px 0px 8px rgba(0,0,0,.5);	
	-moz-box-shadow: 0px 0px 8px rgba(0,0,0,.5);	
	box-shadow: 0px 0px 8px rgba(0,0,0,.5);	
}

.statusbarContainer
{
	position:absolute;
	height:39px;
	bottom:0px;
	z-index: 66;
	width:100%;	
}

.statusbarShadow
{
	background:-webkit-gradient(linear,left bottom,left top,from(rgba(0,0,0,.4)),to(rgba(0,0,0,0)));
	background:linear-gradient(0deg,rgba(0,0,0,.4), rgba(0,0,0,0));
	/*-webkit-mask-box-image: -webkit-gradient(linear, left top, right top, color-stop(0.0, rgba(0,0,0,0)), color-stop(0.25, rgba(0,0,0,1)), color-stop(0.75, rgba(0,0,0,1)), color-stop(1.0, rgba(0,0,0,0)));*/
	height:7px;
	width:100%;	
}

.statusbar
{
	xborder-bottom-right-radius:4px;
	xborder-bottom-left-radius:4px;
	background-image: url('statusbar.png');
	height:32px;
	width:100%;
}


.barHidden
{
	display:none;
}

.menubarContainer
{
	position:absolute;
	height:32px;
	top:0px;
	z-index: 64;
	width:100%;	
}

.menubarShadow
{
	background:-webkit-gradient(linear,left bottom,left top,from(rgba(0,0,0,0)),to(rgba(0,0,0,.4)));
	background:linear-gradient(0deg,rgba(0,0,0,0), rgba(0,0,0,.4));
	/*-webkit-mask-box-image: -webkit-gradient(linear, left top, right top, color-stop(0.0, rgba(0,0,0,0)), color-stop(0.25, rgba(0,0,0,1)), color-stop(0.75, rgba(0,0,0,1)), color-stop(1.0, rgba(0,0,0,0)));*/
	height:7px;
	width:100%;	
}

.menubar
{
	background-color:#272822;
	background-repeat: no-repeat;
	background-position: 9px 8px;
	background-image: url('menubarText.png');
	height:28px;
	width:100%;
}

.minimap
{
	position:absolute;
	right:9px;
	top:9px;
	background-repeat: no-repeat;
	background-image: url('minimap.png');
	height:716px;
	width:159px;
	z-index: 65;
}

.swatch
{
	border: 1px solid hsl(213, 46%, 66%);
	margin: 0px 4px;
	vertical-align: middle;
	display: inline-block;
	height: 58px;
  	width: 58px;
	background-color:black;
	xborder-radius: 3px;
}

.btn-inverse {
  font-size: 20px;
  font-family: 'Roboto',sans-serif;
  font-weight: 100;
  line-height: 0px;
  padding: 28px 43px;
  background: hsl(213, 46%, 46%);
  border: 1px solid hsl(213, 46%, 66%);
  color: hsl(213, 46%, 91%);
}
